<%- include('navbar.ejs') %> 
<!-- main -->
<main class="pt-12 bg-gray-100 pb-12">
    <div class="container mx-auto px-4 flex flex-wrap lg:flex-nowrap">
        <!-- left sidebar -->
        <div class="w-3/12 hidden xl:block">
            <!-- categories -->
            <div class="w-full bg-white shadow-sm rounded-sm p-4 ">
                <h3 class="text-xl font-semibold text-gray-700 mb-3 font-roboto">Categories</h3>
                <div class="space-y-2">
                    <%= user.username %> 
                </div>
            </div>

            <!-- random posts -->
            <div class="w-full mt-8 bg-white shadow-sm rounded-sm p-4 ">
                <h3 class="text-xl font-semibold text-gray-700 mb-3 font-roboto">Random Posts</h3>
                <div class="space-y-4">
                    <a href="#" class="flex group">
                        <div class="flex-shrink-0">
                            <img src="" class="h-14 w-20 rounded object-cover">
                        </div>
                        <div class="flex-grow pl-3">
                            <h5
                                class="text-md leading-5 block font-roboto font-semibold  transition group-hover:text-blue-500">
                                Team Bitbose geared up to attend Blockchain
                            </h5>
                            <div class="flex text-gray-400 text-sm items-center">
                                <span class="mr-1 text-xs"><i class="far fa-clock"></i></span>
                                June 11, 2021
                            </div>
                        </div>
                    </a>
                    <a href="#" class="flex group">
                        <div class="flex-shrink-0">
                            <img src="" class="h-14 w-20 rounded object-cover">
                        </div>
                        <div class="flex-grow pl-3">
                            <h5
                                class="text-md leading-5 block font-roboto font-semibold  transition group-hover:text-blue-500">
                                After a Caribbean Hurricane, the Battle
                            </h5>
                            <div class="flex text-gray-400 text-sm items-center">
                                <span class="mr-1 text-xs"><i class="far fa-clock"></i></span>
                                March 27, 2021
                            </div>
                        </div>
                    </a>
                    <a href="#" class="flex group">
                        <div class="flex-shrink-0">
                            <img src="" class="h-14 w-20 rounded object-cover">
                        </div>
                        <div class="flex-grow pl-3">
                            <h5
                                class="text-md leading-5 block font-roboto font-semibold  transition group-hover:text-blue-500">
                                California sheriff’s deputy shot during ‘ambush’
                            </h5>
                            <div class="flex text-gray-400 text-sm items-center">
                                <span class="mr-1 text-xs"><i class="far fa-clock"></i></span>
                                Aprile 17, 2021
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <div class="xl:w-6/12 lg:w-9/12 w-full  xl:ml-6 lg:mr-6">

            <!-- title -->
            <div class="flex bg-white px-3 py-2 justify-between items-center rounded-sm mb-5">
                <h5 class="text-base uppercase font-semibold font-roboto">Post</h5>
                <a href="#"
                    class="text-white py-1 px-3 rounded-sm uppercase text-sm bg-blue-500 border border-blue-500 hover:text-blue-500 hover:bg-transparent transition">
                    +
                </a>
            </div>

            <!-- big post -->
            <div class="rounded-sm overflow-hidden bg-white shadow-sm">
                <a href="view.html" class="block rounded-md overflow-hidden">
                    <img src=""
                        class="w-full h-96 object-cover transform hover:scale-110 transition duration-500">
                </a>
                <div class="p-4 pb-5">
                    <a href="view.html">
                        <h2
                            class="block text-2xl font-semibold text-gray-700 hover:text-blue-500 transition font-roboto">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iddo loremque, totam
                            architecto odit pariatur Lorem ips dolor.
                        </h2>
                    </a>

                    <p class="text-gray-500 text-sm mt-2">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem distinctio doloremque
                        placeat ipsa! Sequi, recusandae. In numquam similique molestiae error, magni velit suscipit
                        repudiandae itaqu....
                    </p>
                    <div class="mt-3 flex space-x-4">
                        <div class="flex text-gray-400 text-sm items-center">
                            <span class="mr-2 text-xs">
                                <i class="far fa-user"></i>
                            </span>
                            Blogging Tips
                        </div>
                        <div class="flex text-gray-400 text-sm items-center">
                            <span class="mr-2 text-xs">
                                <i class="far fa-clock"></i>
                            </span>
                            June 11, 2021
                        </div>
                    </div>
                </div>
            </div>

            <!-- regular post -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
                <div class="rounded-sm bg-white p-4 pb-5 shadow-sm">
                    <a href="#" class="block rounded-md overflow-hidden">
                        <img src=""
                            class="w-full h-60 object-cover transform hover:scale-110 transition duration-500">
                    </a>
                    <div class="mt-3">
                        <a href="#">
                            <h2
                                class="block text-xl font-semibold text-gray-700 hover:text-blue-500 transition font-roboto">
                                Lorem, ipsum dolor sit amet consec tetur adipisicing elit.
                            </h2>
                        </a>
                        <div class="mt-2 flex space-x-3">
                            <div class="flex text-gray-400 text-sm items-center">
                                <span class="mr-2 text-xs">
                                    <i class="far fa-user"></i>
                                </span>
                                Blogging Tips
                            </div>
                            <div class="flex text-gray-400 text-sm items-center">
                                <span class="mr-2 text-xs">
                                    <i class="far fa-clock"></i>
                                </span>
                                June 11, 2021
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rounded-sm bg-white p-4 pb-5 shadow-sm">
                    <a href="#" class="block rounded-md overflow-hidden">
                        <img src=""
                            class="w-full h-60 object-cover transform hover:scale-110 transition duration-500">
                    </a>
                    <div class="mt-3">
                        <a href="#">
                            <h2
                                class="block text-xl font-semibold text-gray-700 hover:text-blue-500 transition font-roboto">
                                Lorem, ipsum dolor sit amet consec tetur adipisicing elit.
                            </h2>
                        </a>
                        <div class="mt-2 flex space-x-3">
                            <div class="flex text-gray-400 text-sm items-center">
                                <span class="mr-2 text-xs">
                                    <i class="far fa-user"></i>
                                </span>
                                Blogging Tips
                            </div>
                            <div class="flex text-gray-400 text-sm items-center">
                                <span class="mr-2 text-xs">
                                    <i class="far fa-clock"></i>
                                </span>
                                June 11, 2021
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rounded-sm bg-white p-4 pb-5 shadow-sm">
                    <a href="#" class="block rounded-md overflow-hidden">
                        <img src=""
                            class="w-full h-60 object-cover transform hover:scale-110 transition duration-500">
                    </a>
                    <div class="mt-3">
                        <a href="#">
                            <h2
                                class="block text-xl font-semibold text-gray-700 hover:text-blue-500 transition font-roboto">
                                Lorem, ipsum dolor sit amet consec tetur adipisicing elit.
                            </h2>
                        </a>
                        <div class="mt-2 flex space-x-3">
                            <div class="flex text-gray-400 text-sm items-center">
                                <span class="mr-2 text-xs">
                                    <i class="far fa-user"></i>
                                </span>
                                Blogging Tips
                            </div>
                            <div class="flex text-gray-400 text-sm items-center">
                                <span class="mr-2 text-xs">
                                    <i class="far fa-clock"></i>
                                </span>
                                June 11, 2021
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rounded-sm bg-white p-4 pb-5 shadow-sm">
                    <a href="#" class="block rounded-md overflow-hidden">
                        <img src=""
                            class="w-full h-60 object-cover transform hover:scale-110 transition duration-500">
                    </a>
                    <div class="mt-3">
                        <a href="#">
                            <h2
                                class="block text-xl font-semibold text-gray-700 hover:text-blue-500 transition font-roboto">
                                Lorem, ipsum dolor sit amet consec tetur adipisicing elit.
                            </h2>
                        </a>
                        <div class="mt-2 flex space-x-3">
                            <div class="flex text-gray-400 text-sm items-center">
                                <span class="mr-2 text-xs">
                                    <i class="far fa-user"></i>
                                </span>
                                Blogging Tips
                            </div>
                            <div class="flex text-gray-400 text-sm items-center">
                                <span class="mr-2 text-xs">
                                    <i class="far fa-clock"></i>
                                </span>
                                June 11, 2021
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <%- include('./rightSidebar.ejs') %> 
        
</div>

<!-- footer -->
<footer class="border-t py-4">
    <p class=" text-sm text-center">Copyright &copy; 2022 <span class="font-semibold">Mohammed Mostafa</span>
       &reg; All Rights Reserved</p>
</footer>
